/* Import BR Shape from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=BR+Shape:wght@300;400;700&display=swap');

/* Import Granika Alternative - Archivo Black (Bold Display Font for Headings) */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Maintanker Font - Local Font Face */
@font-face {
  font-family: 'Maintanker';
  src: url('/fonts/Maintanker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maintanker';
  src: url('/fonts/Maintanker.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
